*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    text-align: center;
    background: gray;
}
.main{
    width: 700px;
    height: 700px;
    display: block;
    background: white;
    margin: 20px auto;
    border: 3px solid black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.item{
    background: yellow;
}
.main2{
    width: 700px;
    height: 700px;
    display: block;
    background: white;
    margin: 20px auto;
    border: 3px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 10px;
}
.item1{
    grid-column: 1/3;
    grid-row: 1;
    background: yellow;
}
.item2{
    grid-column: 3;
    grid-row: 1/3;
    background: turquoise;
}
.item3{
    grid-column: 2;
    grid-row: 2;
    background: red;
}
.item4{
    grid-column: 1;
    grid-row: 2/4;
    background: greenyellow;
}
.item5{
    grid-column: 2/4;
    grid-row: 3;
    background: palevioletred;
}
.main3{
    width: 600px;
    height: 600px;
    display: block;
    background: White;
    font-size: 30px;
     color: white;
    text-align: center;
    margin: 20px auto;
    border: 3px solid black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 20px 200px 40px;
    grid-gap: 10px;
}
.item6{
    grid-column: 1/3;
    grid-row: 1;
    background: black;
}
.item7{
    grid-column: 3/1;
    grid-row: 2;
    background: green;
}
.item8{
    grid-column: 2;
    grid-row: 3;
    background: red;
}
.item9{
    grid-column: 1;
    grid-row: 3;
    background: blue;
}
.item10{
    grid-column: 2/4;
    grid-row: 3;
    background: red;
}
.item11{
    grid-column: 1/3;
    grid-row: 4;
    background: green;
}

