*{
    margin:0px;
    padding:0px;
  }
  body{
    text-align: center;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(113,176,160,1) 42%, rgba(0,212,255,1) 100%);
}
  body{
    background: rgb(10, 30, 100)
  }
  h1{
    color: #fff;
  }